.crossword-inputs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.crossword-inputs__grid {
  display: grid;
  position: relative;
}

.crossword-inputs__cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crossword-inputs__cell .form-control {
  text-align: center;
  width: 40px;
}

.crossword-inputs__cell .form-control:valid,
.crossword-inputs__cell .form-control:invalid {
  background-image: none;
  padding: 0.375rem 0.75rem;
}

.crossword-inputs__submit {
  justify-self: center;
}

.crossword-inputs__words {
  display: grid;
  grid-auto-rows: 50px;
}

.crossword-inputs__words-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.crossword-inputs__word-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.crossword-inputs__word-group:last-of-type {
  justify-self: center;
}

.crossword-inputs__word-group input[type="text"] {
  margin-right: 10px;
}

.crowssword-inputs__graphics {
  position: absolute;
  right: 0;
  bottom: 0;
}

.crowssword-inputs__graphics {
  stroke: rgba(255, 0, 0, 0.4);
  stroke-width: 25;
  stroke-linecap: round;
}
