.App {
  font-family: sans-serif;
  padding: 50px;
}

.btn {
  height: 35px;
}

.size-form {
  max-width: 200px;
}

.size-form label {
  margin-top: 10px;
}

.size-form__submit {
  margin-top: 20px;
}
